ECHARTS_MCP_PORT=8732
CHART_OSS_ACCESS_KEY_ID=
CHART_OSS_ACCESS_KEY_SECRET=
CHART_OSS_BUCKET=
CHART_OSS_PREFIX=wecom/
CHART_OSS_ENDPOINT=oss-cn-shanghai.aliyuncs.com
CHART_OSS_REGION=oss-cn-shanghai
CHART_OSS_PUBLIC_BASE_URL=
